%table#calendar.span12
  %tr
    %th Sunday
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
  - start_date = 2.weeks.ago.to_date
  - start_date = start_date - start_date.wday.days
  - (0..2).each do |w|
    %tr
      - (0..6).each do |d|
        - date = start_date + w.weeks + d.days
        - if date.today?
          %td.today= link_to date.to_s(:short), day_path(date)
        - elsif date.future?
          %td.future= date.to_s(:short)
        - elsif current_user.tasks.where(date: date).any?
          %td= link_to date.to_s(:short), day_path(date)
        - else
          %td= date.to_s(:short)
